@model WebApp.ViewModels.AbsenceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Base.Resources.Common.Edit</h1>

<h4>@App.Resources.Domain.Absence._Absence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Absence.Reason" class="control-label"></label>
                <input asp-for="Absence.Reason" class="form-control" />
                <span asp-validation-for="Absence.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absence.StartDate" class="control-label"></label>
                <input asp-for="Absence.StartDate" class="form-control" />
                <span asp-validation-for="Absence.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absence.EndDate" class="control-label"></label>
                <input asp-for="Absence.EndDate" class="form-control" />
                <span asp-validation-for="Absence.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Absence.IsApproved" /> @Html.DisplayNameFor(model => model.Absence.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Absence.ByUserId" class="control-label">@Html.DisplayNameFor(model => model.Absence.ByUser)</label>
                <select asp-for="Absence.ByUserId" class="form-control" asp-items="Model.ByUserSelectList"></select>
                <span asp-validation-for="Absence.ByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absence.AuthorizedByUserId" class="control-label">@Html.DisplayNameFor(model => model.Absence.AuthorizedByUser)</label>
                <select asp-for="Absence.AuthorizedByUserId" class="form-control" asp-items="Model.AuthorizedByUserSelectList"></select>
                <span asp-validation-for="Absence.AuthorizedByUserId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Absence.Id" />
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Common.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
